/*== parallax ==*/

#app {
    color: #606060;
}

.bs_parallax_item {
    width: 100%;
    min-height: 500px;
}

.bs_carousel_info {
    padding: 20px;
    color: white;
}

.bs_carousel_info h1 {
    font-weight: bold;
    color: white;
}


/*== platform ==*/

.bs_platform {
    background-color: white;
    padding: 20px;
}

.bs_platform_item {
    cursor: pointer;
    padding-top: 10px;
}

.bs_platform_item:hover {
    border: 1px solid #ccc;
    box-shadow: 3px 3px 3px #ccc;
}

.bs_platform_img {
    height: 100px;
    width: 100px;
    margin: auto;
}

.bs_platform section {
    padding: 10px;
    transition: all 1s;
    -webkit-transition: all 1s;
}

.bs_platform_detail {
    padding-bottom: 20px;
    text-align: left;
}


/*== store ==*/

.bs_store {
    background: url(assets/img/index/platform/platform_bg.png);
    padding: 20px;
}

.bs_store_item {
    text-align: left;
    padding: 10px;
}


/*== talk ==*/

.bs_talk {
    padding: 20px 0;
    background-color: white;
}

.bs_talk h2 {}

.bs_example {
    background-color: white;
    padding: 20px;
}


/*== team ==*/

.bs_team {
    background: url(assets/img/index/team/team_bg.png);
    padding: 20px;
}

.bs_team_item {
    background-color: white;
    border: 1px solid #ccc;
    padding: 15px;
}

.bs_team_item_talk {
    color: #505050;
    font-size: 12px;
}