/*== parallax ==*/

.bs_parallax_item {
    width: 100%;
    min-height: 500px;
}

.bs_carousel_info {
    padding: 20px;
    color: white;
}

.bs_carousel_info h1 {
    font-weight: bold;
    color: white;
}


/*== platform ==*/

.bs_platform {
    background-color: white;
    padding: 20px;
}

.bs_platform_item {
    cursor: pointer;
    padding-top: 10px;
        border: 1px solid white;
    box-shadow: 3px 3px 3px white;
}

.bs_platform_item:hover {
    border: 1px solid #ccc;
    box-shadow: 3px 3px 3px #ccc;
}

.bs_platform_img {
    height: 100px;
    width: 100px;
    margin: auto;
}

.bs_platform section {
    padding: 10px;
    transition: all 1s;
    -webkit-transition: all 1s;
}

.bs_platform_detail {
    padding-bottom: 20px;
    text-align: left;
}


/*== store ==*/

.bs_store {
    background: url(assets/img/index/store/store_bg.png);
    padding: 20px;    
    color: white;
}

.bs_store_item {
    text-align: left;
    padding: 10px;
}


/*== talk ==*/

.bs_talk {
    padding: 20px 0;
    background-color: white;
}

.bs_talk h2 {}

.bs_example {
    background-color: white;
    padding: 20px;
}


/*== team ==*/

.bs_team {
    /* background: url(assets/img/index/team/team_bg.png); */
    background-color: #505050;
    background-image: -webkit-radial-gradient(white, rgba(255, 255, 255, 0.2) 2px, transparent 40px), -webkit-radial-gradient(white, rgba(255, 255, 255, 0.15) 1px, transparent 30px), -webkit-radial-gradient(white, rgba(255, 255, 255, 0.1) 2px, transparent 40px), -webkit-radial-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1) 2px, transparent 30px);
    background-image: -moz-radial-gradient(white, rgba(255, 255, 255, 0.2) 2px, transparent 40px), -moz-radial-gradient(white, rgba(255, 255, 255, 0.15) 1px, transparent 30px), -moz-radial-gradient(white, rgba(255, 255, 255, 0.1) 2px, transparent 40px), -moz-radial-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1) 2px, transparent 30px);
    background-image: -ms-radial-gradient(white, rgba(255, 255, 255, 0.2) 2px, transparent 40px), -ms-radial-gradient(white, rgba(255, 255, 255, 0.15) 1px, transparent 30px), -ms-radial-gradient(white, rgba(255, 255, 255, 0.1) 2px, transparent 40px), -ms-radial-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1) 2px, transparent 30px);
    background-image: -o-radial-gradient(white, rgba(255, 255, 255, 0.2) 2px, transparent 40px), -o-radial-gradient(white, rgba(255, 255, 255, 0.15) 1px, transparent 30px), -o-radial-gradient(white, rgba(255, 255, 255, 0.1) 2px, transparent 40px), -o-radial-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1) 2px, transparent 30px);
    background-image: radial-gradient(white, rgba(255, 255, 255, 0.2) 2px, transparent 40px), radial-gradient(white, rgba(255, 255, 255, 0.15) 1px, transparent 30px), radial-gradient(white, rgba(255, 255, 255, 0.1) 2px, transparent 40px), radial-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.1) 2px, transparent 30px);
    background-position: 0 0px, 40px 60px, 130px 270px, 70px 100px;
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    padding: 20px;
}
.bs_team h1{
    color:white;
}
.bs_team span{
    color:white;
}
.bs_team_item {
    background-color: white;
    border: 1px solid #ccc;
    padding: 15px;
}

.bs_team_item_talk {
    color: #505050;
    font-size: 12px;
}