/*== parallax ==*/

.bs_parallax_item {
    width: 100%;
    min-height: 500px;
}

.bs_carousel_info {
    padding: 20px;
    color: white;
}

.bs_carousel_info h1 {
    font-weight: bold;
    color: white;
}


/*== platform ==*/

.bs_platform {
    background-color: white;
    padding: 20px;
}

.bs_platform_item {
    cursor: pointer;
}

.bs_platform_item:hover {
    border: 1px solid #ccc;
    box-shadow: 3px 3px 3px #ccc;
}

.bs_platform_img {
    height: 100px;
    width: 100px;
    margin: auto;
}

.bs_platform section {
    padding: 10px;
    transition: all 1s;
    -webkit-transition: all 1s;
}

.bs_platform_detail {
    padding-bottom: 20px;
    text-align: left;
}


/*== store ==*/

.bs_store {
    background: url(assets/img/index/platform/platform_bg.jpg);
    background-position: center top;
    background-attachment: fixed;
    background-size: cover;
    padding: 20px;
}

.bs_store_item {
    padding: 20px;
}


/*== talk ==*/

.bs_talk {
    padding: 20px 0;
    background-color: #888;
    color: white;
}

.bs_talk h2 {
    color: white;
}

.bs_example {
    background-color: white;
    padding: 20px;
}


/*== team ==*/

.bs_team {
    background: url(assets/img/index/platform/platform_bg.jpg);
    padding: 20px;
}

.bs_team_item {
    background-color: white;
    border: 1px solid #ccc;
    padding: 5px;
}