/*宣传模块*/

#intro {
    width: 100%;
    z-index: 1;
    background: url(assets/img/service/notice.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100%;
    min-height: 300px;
    /* background-color: #373d41; */
    padding: 0;
    color: white;
}


/*核心服务*/

.icon-wrap {
    font-size: 2em;
    height: 60px;
    width: 60px;
    float: left;
    line-height: 60px;
    text-align: center;
    color: #fff;
    margin-right: 30px;
}

.ico-bg {
    background: #909090
}

.round-five {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.round-fifty {
    border-radius: 50px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    margin-left: 40%;
    margin-top: -25px;
}

.content h3,
.media h3 {
    margin-top: 0;
}

.media h3 {
    margin-top: 20px
}

.services {
    display: inline-block;
    width: 100%;
    padding-bottom: 30px;
}

.bs_service_tech {
    background: url(assets/img/service/service_bg.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    padding: 30px 0;
}

.progress {
    background-color: #E1E1E1
}


/*== 合作方式==*/

.bs_service_partner {
    padding: 20px;
    text-align: center;
    background-color: white;
}


/*== 服务支持==*/

.bs_support {
    background-color: rgba(0, 0, 0, 0.8);
    min-height: 400px;
    overflow: hidden;
}

.bs_support_item {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.6);
    margin: auto;
    min-height: 400px;
    width: 100%;
    padding: 50px 20px;
    color: white;
    cursor: pointer;
    transition: all .3s;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.bs_support_item h2 {
    font-weight: bold;
}

.bs_support_item:hover {
    background-color: rgba(58, 141, 245, 0.8);
    height: 100%;
    min-height: 400px;
    padding: 50px 20px;
    color: white;
}

.bs_support_item_img {
    width: 100%;
    overflow: hidden;
    position: absolute;
    transition: all 1s;
    top: 0;
    opacity: 0.6;
    left: 0;
}

@media (max-width:1624px) {
    .bs_support_item_img {
        width: 150%;
        overflow: hidden;
        position: absolute;
        transition: all 1s;
        top: 0;
        left: 0;
    }
    .bs_support_item {
        text-align: center;
        background-color: rgba(0, 0, 0, 0.6);
        margin: auto;
        min-height: 400px;
        width: 100%;
        padding: 50px 10px;
        color: white;
        cursor: pointer;
        transition: all .3s;
        position: absolute;
        top: 0;
        overflow-x: hidden;
        left: 0;
        z-index: 1;
    }
    .bs_support_item:hover {
        background-color: rgba(58, 141, 245, 0.8);
        height: 100%;
        min-height: 400px;
        padding: 50px 10px;
        color: white;
    }
}

@media (max-width:1034px) {
    .bs_support {
        position: static;
    }
    .bs_support div {
        margin: 0px;
        padding: 0px;
    }
    .bs_support_item {
        background-color: rgba(0, 0, 0, 0.6);
        width: 100%;
        padding: 20px 20px 10px 20px;
        position: static;
        color: white;
        transition: all .3s;
        border-right: 1px solid white;
    }
    .bs_support_item i {
        margin-top: 30px;
    }
    .bs_support_item h2 {
        font-weight: bold;
    }
    .bs_support_item:hover {
        background-color: rgba(0, 0, 0, 0.6);
        height: 100%;
        padding: 20px 20px 10px 20px;
        position: static;
        color: white;
    }
    .bs_support_item_img {
        width: 100%;
        display: none;
    }
}

@media(max-width:1000px) {
    .bs_support {
        position: static;
    }
    .bs_support_item {
        text-align: center;
        background-color: rgba(0, 0, 0, 0.6);
        width: 100%;
        padding: 100px 50px;
        position: static;
        color: white;
        border-bottom: 1px solid #ccc;
    }
    .bs_support_item h2 {
        font-weight: bold;
    }
    .bs_support_item:hover {
        background-color: rgba(58, 141, 245, 0.8);
        height: 100%;
        padding: 10px 20px;
        position: static;
        color: white;
    }
    .bs_support_item_img {
        width: 100%;
        display: none;
    }
}


/*== 详细介绍==*/

.bs_detail {
    padding: 30px;
    background-color: white;
}

.bs_detail_invert {
    padding: 30px;
}

.bs_detail_item {
    text-align: right;
}

.bs_detail_item2 {
    background-color: white;
    text-align: center;
}