.bs_download {
    background-image: url(assets/img/download.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 800px;
    color: white;
    padding-top: 80px;
}

.bs_download h2 {
    text-align: center;
}

.bs_download button {
    width: 100%;
    text-align: left;
    border: 0px;
    height: 50px;
    padding: 0px 10px;
    line-height: 50px;
    border-radius: 5px;
    background-color: #3498DB;
}

.bs_download i {
    border: 0px;
    height: 50px;
    line-height: 50px;
}

.bs_download span {
    font-size: 18px;
    margin-bottom: 10x;
}