.bs_use{
    background-image: url(assets/img/products/platform.png);
    background-repeat: no-repeat;
    background-size:100% auto;
    min-height: 600px;
}
.bs_feature{

    background-size:100% auto;
    min-height: 600px;
}

.bs_feature_item{
    border:1px solid #505050;
    padding: 10px;
}

.bs_coordination{
    background-color: white;
    min-height: 600px;
}

@media screen and (max-width:1024px) {
    .bs_use{
    background-image: url(assets/img/products/platform.png);
    background-repeat: no-repeat;
    background-size:auto 100%;
}
}