.bs_company {
    padding: 20px;
}



/*== 公司地址 ==*/

.bs_company_address {
    width: 100%;
    z-index: 1;
    background: url(assets/img/company/address.png);
    background-repeat: no-repeat;
    background-size:100% 100%;
    padding: 0;
}

.bs_company_address_info {
    background-image: url(../../assets/img/bg_content.jpg);
    margin-top: 30px;
        margin-bottom: 30px;
}


@media only screen and (max-width: 1024px) {
    .bs_company_address {
        width: 100%;
        z-index: 1;
        background: url(../../assets/img/bg_content.jpg);
        min-height: 0px;
        padding: 0;
    }
    .bs_company_address_info {
        background-image: url(../../assets/img/bg_content.jpg);
        margin-top: 0px;
               margin-bottom: 0px;
    }
}