.bs_join_video {
    width: 100%;
    z-index: 1;
    background: url(assets/img/join/notice.png);
    background-position: center top;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    min-height: 500px;
    padding: 0;
    color: white;
}


/*== 公司加入工作 ==*/

.bs_join_job {
    width: 100%;
    padding: 20px;
    color: white;
    background: url(assets/img/join/search.jpg);
}


/*== 加入提示 ==*/

.bs_join_tip {
    padding: 20px;
    margin: auto;
    background-color: white;
    -webkit-box-shadow: 3px 3px 3px #ccc;
    -moz-box-shadow: 3px 3px 3px #ccc;
    box-shadow: 3px 3px 3px #ccc;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: -200px;
    margin-bottom: 10px;
}


/*== 公司福利 ==*/

.bs_join_welfare {
    padding: 20px;
}

.bs_join_welfare_item {
    padding: 10px;
    height: 200px;
    margin: 0px;
    margin-bottom: 5px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.bs_join_welfare_item:hover {
    color: white;
    background-color: #505050;
}

.bs_join_welfare_item p {
    text-align: left;
    padding-left: 20px;
}


/*== 公司活动 ==*/

.bs_activity {}

.bs_activity div {
    margin: 0px;
    padding: 0px;
}

.bs_activity_padding_bottom {}

.bs_activity_padding_left {}

.bs_activity img {
    width: 100%;
}


/*== 公司招聘 ==*/

.bs_job{
    background-color:white;
}

.bs_join_job_search {
    margin: 10px 0px 10px 0;
    padding: 10px;
    background-color: white;
    color: #808080;
}

.bs_join_job_table {
    margin: 10px 0px 10px 0px;
    padding: 10px 10px 0px 10px;
    background-color: white;
    color: #808080;
}

.bs_join_job_input {
    width: 100%;
    border: 1px solid #ccc;
    padding: 5px;
}

.bs_join_close {
    color: red;
    font-size: 18px;
    width: 20px;
    border-radius: 50%;
    height: 20px;
}

@media screen and (max-width:1024px) {
    .bs_join_tip {
        margin: auto;
        background-color: white;
    }
}